<h3>Dependency</h3> <p>None</p> <hr> <h3>Examples</h3> <form name="myForm" ng-controller="InputtextCtrl"> <label>Single word: <input type="text" name="input" ng-model="example.text"> </label><br> <tt>text = {{ example.text }}</tt><br> </form> <hr> <h3>Code</h3> <h5>HTML</h5> <pre>
	<code class="language-markup" prism>
&lt;form name="myForm" ng-controller="InputtextCtrl"&gt;
  &lt;label&gt;Single word:
    &lt;input type="text" name="input" ng-model="example.text"&gt;
  &lt;/label&gt;&lt;br/&gt;
  &lt;tt&gt;text = {{ example.text }}&lt;/tt&gt;&lt;br/&gt;
&lt;/form&gt;
	</code>
</pre> <h5>JavaScript</h5> <pre>
	<code class="language-javascript" prism>
angular.module('angularShowcaseApp')
  .controller('InputtextCtrl', function ($scope) {
    $scope.example = {
        text: 'guest'
     };
  });
	</code>
</pre>