<h3>Dependency</h3>
<p>None</p>
<hr/>


<h3>Examples</h3>
<p><input type="text" ng-model="value"></p>
<p>Value : {{ value }}</p>


 <hr/>

<h3>Code</h3>
<h5>HTML</h5>
<pre>
	<code class="language-markup" prism>
&lt;p&gt;&lt;input type="text" ng-model="value"&gt;&lt;/p&gt;
&lt;p&gt;Value : {{ value }}&lt;/p&gt;
	</code>
</pre>
<h5>JavaScript</h5>
<pre>
	<code class="language-javascript" prism>
angular.module('angularShowcaseApp')
  .controller('InputtextCtrl', function () {
    
  });
	</code>
</pre>

